name = "bankman"
main = "src/index.ts"
compatibility_date = "2022-12-20"

kv_namespaces = [
    { binding = "KV", id = "$KV_ID" }
]

[triggers]
crons = [ "0 13 * * *" ]

[[ d1_databases ]]
binding = "DB"
database_name = "bankmandb"
database_id = "$DATABASE_ID"
