name = "bankman"
main = "src/index.ts"
compatibility_date = "2022-12-20"

[triggers]
crons = [ "0 * * * *" ]

[[ d1_databases ]]
binding = "DB"
database_name = "bankmandb"
database_id = "DATABASE_ID"

kv_namespaces = [
    { binding = "BANKMAN_KV", id = "KV_ID" }
]
